<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add director</title>
</head>
<body>
<form th:action="@{/director/add}" th:method="post" th:object="${director}">
    <label for="department">Department:</label>
    <select id="department" name="department">
        <option th:each="dept : ${T(com.example.model.Department).values()}"
                th:value="${dept}" th:text="${#strings.capitalize(dept.toString().toLowerCase())}"></option>
    </select>
    <br/>
    <label for="fullName">Full Name:</label>
    <input type="text" id="fullName" name="fullName" th:field="*{fullName}"/>
    <br/>

    <table>
        <thead>
        <tr>
            <th>Full name</th>
            <th>Post</th>
            <th>Add to director</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee: ${employees}">
            <td th:text="${employee.fullName}">title</td>
            <td th:text="${employee.post}">title</td>
            <td><input type="checkbox" name="added" th:value="${employee.fullName}"></td>

        <tr>
        </tbody>
    </table>

    <button type="submit">Add</button>
</form>


</body>
</html>
